$brand-purple: 			#580F8C;
$brand-dark-purple: 		#30084B;
$brand-light-purple:		#8817D7;
$brand-blue: 			#3980B2;
$brand-green: 			#2A7F71;
$brand-yellow: 			#CC9623;
$brand-red:  			#B2413D;
$brand-white:			#fff;
$brand-black:			#000;

$white:    				#fff;
$gray-100: 				#f8f9fa;
$gray-200: 				#e9ecef;
$gray-300: 				#dee2e6;
$gray-400: 				#ced4da;
$gray-500: 				#adb5bd;
$gray-600: 				#868e96;
$gray-700: 				#495057;
$gray-800: 				#343a40;
$gray-900: 				#212529;
$black:    				#000;

$brand-primary:       		$brand-purple;
$brand-secondary:     		$gray-600;
$brand-success:       		$brand-green;
$brand-info:          		$brand-blue;
$brand-warning:       		$brand-yellow;
$brand-danger:        		$brand-red;
$brand-light:         		$gray-100;
$brand-dark:          		$gray-800;

$input-bg: 				$white;
$input-disabled-bg: 	$gray-200;
$input-color:       	$gray-700;
$input-border-color:	$gray-400;
$input-check-focus-width:       .1rem;
$input-check-focus-color:       rgba($brand-primary, .25);
$input-check-focus-box-shadow:  0 0 0 $input-check-focus-width $input-check-focus-color;

$screen-xs: 			0;
$screen-sm: 			576px;
$screen-md: 			768px;
$screen-lg: 			992px;
$screen-xl: 			1200px;

$font-family-serif: 		"Josefin Slab", serif;
$font-family-sans-serif: 	"Josefin Sans", Helvetica, Arial, sans-serif;

//Slider Variables
$slider-primary: null !default;
@if variable-exists(brand-primary) {
  $slider-primary: $brand-primary;
} @else {
  $slider-primary: #0480BE !default;
}

$slider-primary-top: $slider-primary;
$slider-primary-bottom: darken($slider-primary, 5%);
$slider-secondary-top: saturate(lighten($slider-primary, 58%), 20%);
$slider-secondary-bottom: saturate(lighten($slider-primary, 53%), 2%);