<header class="view-header">
    <a class="logo-link" href="/"><p class="visuallyhidden">Kingdom Care</p></a>
</header>

<form action="submission.php" method="POST">
    <input type="hidden" name="user-type" value="parent">
    <!-- BEGIN: Step 1 -->
    <section class="registration-form-view step-1" data-form-step="1">            
        <!--Header-->
        <div class="text-center">
            <h3 class="mb-3"><strong>Let's get started!</strong></h3>
        </div>

        <!--Body-->
        <div class="layout-block"><div class="container">
            <div class="row">
                <fieldset class="col-md">
                    <div class="form-group">
                        <input type="email" id="form-email" class="form-control required" name="email" placeholder="Email address">
                    </div>

                    <div class="form-group">
                        <input type="password" id="form-password" class="form-control required" name="password" placeholder="Password">
                    </div>
                </fieldset>

                <fieldset class="col-md">
                    <div class="form-group">
                        <input type="text" id="form-first-name" class="form-control required" name="first-name" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-last-name" class="form-control required" name="last-name" placeholder="Last Name">
                    </div>
                </fieldset>
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <div class="row">
                <div class="form-group col-md">
                    <input type="text" id="form-zip-code" class="form-control required" name="zip-code" placeholder="Zip Code">
                </div>

                <div class="form-group col-md">
                    <input type="text" id="form-number-children" class="form-control required" name="number-children" placeholder="How many children?">
                </div>
            </div>
        </div></div>

        <div class="button-block"><div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1 btn-next">Register</button>
                </div>
            </div>
        </div></div>     
    </section>
    <!-- END: Step 1 -->
</form>
