<header class="view-header">
    <a class="logo-link" href="/"><p class="visuallyhidden">Kingdom Care</p></a>
</header>

<form action="submission.php" method="POST">
    <input type="hidden" name="user-type" value="sitter">
    <!-- BEGIN: Step 1 -->
    <section class="registration-form-view step-1" data-form-step="1">            
        <!--Header-->
        <div class="text-center">
            <h3 class="mb-3"><strong>Let's get started!</strong></h3>
        </div>

        <!--Body-->
        <div class="layout-block"><div class="container">
            <div class="row">
                <fieldset class="col-md">
                    <div class="form-group">
                        <input type="email" id="form-email" class="form-control required" name="email" placeholder="Email address">
                    </div>

                    <div class="form-group">
                        <input type="password" id="form-password" class="form-control required" name="password" placeholder="Password">
                    </div>
                </fieldset>

                <fieldset class="col-md">
                    <div class="form-group">
                        <input type="text" id="form-first-name" class="form-control required" name="first-name" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-last-name" class="form-control required" name="last-name" placeholder="Last Name">
                    </div>
                </fieldset>
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <div class="row">
                <fieldset class="col-md mt-3">
                    <caption><strong>Address</strong></caption>
                    <div class="form-group">
                        <input type="text" id="form-street-address-1" class="form-control required" name="street-address-1" placeholder="Address line 1">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-street-address-2" class="form-control required" name="street-address-2" placeholder="Address line 2">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-zip-code" class="form-control required" name="zip-code" placeholder="Zip Code">
                    </div>
                </fieldset>

                <fieldset class="col-md mt-3">
                    <caption><strong>Date of Birth</strong></caption>
                    <div class="form-group">
                        <select name="birth-month" id="form-birth-month" class="form-control" placeholder="Month"></select>
                    </div>

                    <div class="form-group">
                        <select name="birth-day" id="form-birth-day" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <select name="birth-year" id="form-birth-year" class="form-control"></select>
                    </div>
                </fieldset>
            </div>
        </div></div>

        <div class="button-block"><div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1 btn-next">Next</button>
                </div>
            </div>
        </div></div>     
    </section>
    <!-- END: Step 1 -->

    <!-- BEGIN: Step 2 -->
    <section class="registration-form-view step-2" data-form-step="2">            
        <!--Header-->
        <div class="text-center">
            <h3 class="mb-3"><strong>Tell us a bit about yourself.</strong></h3>
        </div>

        <!--Body-->
        <div class="layout-block"><div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-md d-flex align-items-stretch form-group">
                    <textarea name="about" id="form-about" class="form-control" placeholder="Short bio" rows="5"></textarea>
                </div>

                <div class="col-md">
                    <div class="form-group">
                        <input type="text" name="video-interview" id="form-video-interview" class="form-control oembed-field" placeholder="Video Interview URL">
                        <div class="oembed-data"></div>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-md d-flex align-items-stretch form-group">
                    <textarea name="journey" id="form-journey" class="form-control" placeholder="Your journey with Christ" rows="5"></textarea> 
                </div>

                <div class="col-md">
                    <div class="form-group">
                        <input type="text" id="form-denomination" class="form-control" name="denomination" placeholder="What denomination are you?">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-song" class="form-control" name="song" placeholder="Favorite hymn or song">
                    </div>

                    <div class="form-group">
                        <input type="text" id="form-verse" class="form-control" name="verse" placeholder="Favorite Bible verse">
                    </div>
                </div>
            </div>
        </div></div>

        <div class="button-block"><div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-secondary btn-block btn-rounded z-depth-1 btn-prev">Previous</button>
                </div>

                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1 btn-next">Next</button>
                </div>
            </div>
        </div></div>        
    </section>
    <!-- END: Step 2 -->

    <!-- BEGIN: Step 3 -->
    <section class="registration-form-view step-3" data-form-step="3">            
        <!--Header-->
        <div class="text-center">
            <h3 class="mb-3"><strong>What about your babysitting experience?</strong></h3>
        </div>

        <!--Body-->
        <div class="layout-block"><div class="container">
            <h5><strong>Do you have experience with...</strong></h5>
            <div class="row">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-newborn-experience" name="newborn-experience">
                        <label for="form-newborn-experience">Newborns<br><small>(0-3 months)</small></label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-infant-experience" name="infant-experience">
                        <label for="form-infant-experience">Infants<br><small>(3-12 months)</small></label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-toddler-experience" name="toddler-experience">
                        <label for="form-toddler-experience">Toddlers<br><small>(1-3 years)</small></label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-youngchild-experience" name="youngchild-experience">
                        <label for="form-youngchild-experience">Young Children<br><small>(3-9 years)</small></label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-preteen-experience" name="preteen-experience">
                        <label for="form-preteen-experience">Pre-teens<br><small>(9-12 years)</small></label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-teen-experience" name="teen-experience">
                        <label for="form-teen-experience">Teens<br><small>(12-16 years)</small></label>
                    </div>
                </div></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" id="form-other-experience" name="other-experience" placeholder="Other experience"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="form-years-experience mb-0">Years of babysitting experience</label>
                        <input id="form-years-experience" name="years-experience" data-slider-id="form-years-experience-slider" type="text">
                    </div>
                </div>  
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <h5 class="mt-4"><strong>Any experience with children with special needs?</strong></h5>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-autism-experience" name="autism-experience">
                        <label for="form-autism-experience">Autism</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-downsyndrome-experience" name="downsyndrome-experience">
                        <label for="form-downsyndrome-experience">Down Syndrome</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-hearing-impaired-experience" name="hearing-impaired-experience">
                        <label for="form-hearing-impaired-experience">Hearing Impaired</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-visuall-impaired-experience" name="visually-impaired-experience">
                        <label for="form-visually-impaired-experience">Visually Impaired</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-cp-experience" name="cp-experience">
                        <label for="form-cp-experience">Cerebral Palsy</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-pd-experience" name="pd-experience">
                        <label for="form-pd-experience">Physical Disability</label>
                    </div>
                </div></div>

                <div class="col-md-6 form-group d-flex align-items-stretch">
                    <textarea class="form-control" id="form-other-special-experience" name="other-special-experience" placeholder="Other special needs experience"></textarea>
                </div>  
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <h5 class="mt-4"><strong>Do you have any certifications?</strong></h5>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-cpr-certification" name="cpr-certification">
                        <label for="form-cpr-certification">CPR</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-firstaid-certification" name="firstaid-certification">
                        <label for="form-firstaid-certification">First Aid</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-lifeguard-certification" name="lifeguard-certification">
                        <label for="form-lifeguard-certification">Lifeguard</label>
                    </div>
                </div></div>

                <div class="col-md-6 form-group d-flex align-items-stretch">
                    <textarea class="form-control" id="form-other-certification" name="other-certification" placeholder="Other certifications"></textarea>
                </div>                             
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <h5 class="mt-4"><strong>Let's talk languages...</strong></h5>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-english" name="speak-english">
                        <label for="form-speak-english">English</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-spanish" name="speak-spanish">
                        <label for="form-speak-spanish">Spanish</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-french" name="speak-french">
                        <label for="form-speak-french">French</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-mandarin" name="speak-mandarin">
                        <label for="form-speak-mandarin">Mandarin</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-japanese" name="speak-japanese">
                        <label for="form-speak-japanese">Japanese</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-speak-asl" name="speak-asl">
                        <label for="form-speak-asl">Sign Language</label>
                    </div>
                </div></div>

                <div class="col-md-6 form-group d-flex align-items-stretch">
                    <textarea class="form-control" id="form-other-languages" name="other-languages" placeholder="Other languages"></textarea>
                </div>                             
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <h5 class="mt-4"><strong>Are you cool with...</strong></h5>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-cat-friendly" name="cat-friendly">
                        <label for="form-cat-friendly">Cats</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-dog-friendly" name="dog-friendly">
                        <label for="form-dog-friendly">Dogs</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-bird-friendly" name="bird-friendly">
                        <label for="form-bird-friendly">Birds</label>
                    </div>
                </div></div>

                <div class="col-md-6 form-group d-flex align-items-stretch">
                    <textarea class="form-control" id="form-uncool-animals" name="uncool-animals" placeholder="Any animals you're NOT OKAY with?"></textarea>
                </div>                             
            </div>
        </div></div>

        <div class="layout-block"><div class="container">
            <h5 class="mt-4"><strong>Willing to do the extra mile?</strong></h5>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6"><div>
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-cooking-service" name="cooking-service">
                        <label for="form-cooking-service">Cooking</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-dishes-service" name="dishes-service">
                        <label for="form-dishes-service">Dishes</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-laundry-service" name="laundry-service">
                        <label for="form-laundry-service">Laundry</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-dusting-service" name="dusting-service">
                        <label for="form-dusting-service">Dusting</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-vacuum-service" name="vacuum-service">
                        <label for="form-vacuum-service">Vacuuming</label>
                    </div>

                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input type="checkbox" id="form-pets-service" name="pets-service">
                        <label for="form-pets-service">Pets</label>
                    </div>
                </div></div>

                <div class="col-md-6 form-group d-flex align-items-stretch">
                    <textarea class="form-control" id="form-other-services" name="other-services" placeholder="Other services"></textarea>
                </div>                             
            </div>
        </div></div>

                                
        <div class="button-block"><div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-secondary btn-block btn-rounded z-depth-1 btn-prev">Previous</button>
                </div>

                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1 btn-next">Next</button>
                </div>
            </div>
        </div></div>       
    </section>
    <!-- END: Step 3 -->

    <!-- BEGIN: Step 4 -->
    <section class="registration-form-view step-4" data-form-step="4">            
        <!--Header-->
        <div class="text-center">
            <h3 class="mb-5"><strong>Time to talk about money.</strong></h3>
        </div>

        <!--Body-->
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                <select class="form-control" name="payment-structure" id="form-payment-structure">
                    <option disabled selected>How do you typically charge?</option>
                    <option value="hourly-rate">Flat Rate</option>
                    <option value="sliding-scale">Based on # of children</option>
                    <option value="age-scale">Based on AGE of children</option>
                </select>
            </div>
        </div>

        <div class="payment-rate-form" id="payment-hourly-rate">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6 input-group">
                        <span class="input-group-addon" id="form-hourly-rate-addon1">$</span>
                        <input type="number" id="form-hourly-rate" class="form-control" name="hourly-rate" placeholder="0.00" aria-label="Hourly rate" aria-describedby="hourly-rate-addon1" min="0" step="0.01">
                        <span class="input-group-addon" id="form-hourly-rate-addon2">per hour</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-rate-form" id="payment-sliding-scale">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child1-rate" class="form-control" name="child1-rate" placeholder="1 Child">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child2-rate" class="form-control" name="child2-rate" placeholder="2 Children">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child3-rate" class="form-control" name="child3-rate" placeholder="3 Children">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child4-rate" class="form-control" name="child4-rate" placeholder="4 Children">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child5-rate" class="form-control" name="child5-rate" placeholder="5 Children">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" id="form-child6-rate" class="form-control" name="child6-rate" placeholder="6 Children">
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-rate-form" id="payment-age-scale">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-newborn-rate" name="newborn-rate" placeholder="Newborn">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-infant-rate" name="infant-rate" placeholder="Infant">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-toddler-rate" name="toddler-rate" placeholder="Toddler">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-youngchild-rate" name="youngchild-rate" placeholder="Young Child">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-preteen-rate" name="preteen-rate" placeholder="Pre-teen">
                    </div>

                    <div class="col-md-4 col-sm-6 form-group">
                        <input type="text" class="form-control" id="form-teen-rate" name="teen-rate" placeholder="Teen">
                    </div>
                </div>
            </div>
        </div>

        <div class="button-block"><div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="button" class="btn btn-secondary btn-block btn-rounded z-depth-1 btn-prev">Previous</button>
                </div>

                <div class="col-md-3 col d-sm-flex text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1 btn-next">Register</button>
                </div>
            </div>
        </div></div>        
    </section>
    <!-- END: Step 4 -->
</form>
